.img-carrousel{
    display: block;
    width: 70%;
    margin: 0px auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    padding: 60px;
    border-radius: 50%;
}


.carousel-control-next-icon:hover{
    background-color: #0ce2fe;
   
}
.carousel-control-prev-icon:hover{
    background-color: #710bfd;
  
}
@media screen and (max-width: 600px) {
    .carousel-control-next-icon,
.carousel-control-prev-icon{
    padding: 20px;
}
}


.carousel-indicators button{
  
    background-color: #710bfd;
    height: 15px;
    border-radius: 12px;

}
@media screen and (max-width: 600px) {
    .carousel-indicators{
    display: none;
}
}



.carousel-indicators button:hover{
  
    background-color: #0ce2fe;

}

