 <!--======= Inicio de Educacion ======= -->
 <div class="section-acercaDe">


    <div class="div-acercaDe mx-auto rounded">

      <h3 class="h3-acercaDe pt-4 ps-4 display-6 text-left  mb-5">Educación</h3>

      <h4 class="h3-acercaDe text-center ">
        Título Secundario 
      </h4>
       
      <p class="p-experiencia text-left p-5">
        Perito en Cooperativas, Mutuales y Obras Sociales.
        <br/>

        Estudios secundarios completos en Escuela de Educación Media N°3, "Madres de Plaza de Mayo", General Roca.
        Provicia de Rio Negro.
      </p>

    </div>

  </div>

  
  <!--======== Fin de Educación ======= -->
