
  <!--==== Inicio de Experiencia ..==== -->
  <div class="section-acercaDe bg-transparent position-relative">


    <div class="div-acercaDe mx-auto rounded">

      <h2 class="h3-acercaDe pt-4 ps-4 display-6 text-left  mb-5">Experiencia</h2>

      <h4 class="h3-acercaDe  text-center">{{miPortfolio.empleoUno}}</h4>
      <p class="p-experiencia text-left p-5">
      {{miPortfolio.descripcionUno}}
      </p>

      <h4 class="h3-acercaDe text-center  mt-5">{{miPortfolio.empleoDos}}</h4>
      <p class="p-experiencia text-left p-5">
        {{miPortfolio.descripcionDos}}
      </p>

      <h4 class="h3-acercaDe text-center mt-5  ">{{miPortfolio.empleoTres}}</h4>
      <p class="p-experiencia text-left p-5">
        {{miPortfolio.descripcionTres}}
      </p>



      <!-- <h5 class="p-experiencia text-left mt-5">Atención al público</h5>
      <p class="p-experiencia text-left">
        Realicé trabajos de venta y atención al público en el rubro tecnológico, gastronómico y de indumentaria.
      </p> -->


  
  <!--======= Fin de Experiencia..======= -->

 <span *ngIf="mostrarse == true else mostrar"></span>
    
    <ng-template class="div-Nombre" #mostrar >
    <article class="div-acercaDe mx-auto rounded mb-4  " >
    
    <p class="p-acercaDe text-center" >Introduce tu empleo<input class="div-acercaDe mt-2 ms-2 rounded" type="text" [(ngModel)]=" editarExperiencia.empleoUno"><br></p>
    <p class="p-acercaDe text-center" >Introduce una descripcion del mismo<textarea class="div-acercaDe ms-2 rounded mt-1" [(ngModel)]=" editarExperiencia.descripcionUno"></textarea><br></p> 
    <p class="p-acercaDe text-center" >Introduce tu empleo<input class="div-acercaDe mt-2 ms-2 rounded" type="text" [(ngModel)]=" editarExperiencia.empleoDos"><br></p>
    <p class="p-acercaDe text-center" >Introduce una descripcion del mismo<textarea class="div-acercaDe ms-2 rounded mt-1" [(ngModel)]=" editarExperiencia.descripcionDos"></textarea><br></p> 
    <p class="p-acercaDe text-center" >Introduce tu empleo<input class="div-acercaDe mt-2 ms-2 rounded" type="text" [(ngModel)]=" editarExperiencia.empleoTres"><br></p>
    <p class="p-acercaDe text-center" >Introduce una descripcion del mismo<textarea class="div-acercaDe ms-2 rounded mt-1" [(ngModel)]=" editarExperiencia.descripcionTres"></textarea><br></p> 


    <div class="text-center"> 
      <button class="btn btn-primary p-2 mb-3" (click)="editarExp()" >Enviar</button>
    </div>

   </article>
   </ng-template> 

  </div>

</div>