
  <!--==== Inicio de Experiencia ..==== -->
  <div class="section-acercaDe bg-transparent position-relative">


    <div class="div-acercaDe mx-auto rounded">

      <h2 class="h3-acercaDe pt-4 ps-4 display-6 text-left  mb-5">Experiencia</h2>

      <h4 class="h3-acercaDe  text-center">Armado y reparación de computadoras y celulares</h4>
      <p class="p-experiencia text-left p-5">
        Me desempeño de forma independiente como técnico de computadoras y celulares, realizando formateos, reparación y
        mantenimiento de hardware, instalación de programas y doy asesoramiento para la compra de componentes y equipos,
        para su posterior armado.
      </p>

      <h4 class="h3-acercaDe text-center  mt-5">Encargado de personal en campo y control de cantera</h4>
      <p class="p-experiencia text-left p-5">
        Al servicio de Tecniclima S.R.L, de Jorge Eduardo Oberholzer, desempeñé tareas de encargado y proveedor de
        suministros a obreros de la construcción de una base de operaciones en el yacimiento petrolífero Rincón del
        Mangrullo.
        Además, mis tareas consistían en controlar las operaciones de movimiento de suelo que realizaba YPF en las
        canteras (Control de ingreso y egreso de camiones con carga) y campos de mi empleador.
      </p>

      <h4 class="h3-acercaDe text-center mt-5  ">Mantenimiento y reparación de cámaras de atmósfera controlada</h4>
      <p class="p-experiencia text-left p-5">
        Trabajé con el Ingeniero Carlos Agüero, para diferentes empresas de la zona del alto valle y en el puerto de San
        Antonio Oeste, llevando a cabo tareas de mantenimiento, reparación e instalación de equipos para cámaras de atmósfera controlada, imprescindibles en la conservación de alimentos.
      </p>

      <!-- <h5 class="p-experiencia text-left mt-5">Atención al público</h5>
      <p class="p-experiencia text-left">
        Realicé trabajos de venta y atención al público en el rubro tecnológico, gastronómico y de indumentaria.
      </p> -->


    </div>

  </div>
  <!--======= Fin de Experiencia..======= -->
