 <!--========Inicio Hard Skills====== -->
  
 <div class="section-acercaDe">
    <div class="div-acercaDe mx-auto rounded">
      
      
      <h3 class="h3-acercaDe pt-4 ps-4 display-6 text-left  mb-4">Hard Skills</h3>
      
      <div class="skills">
        
        <!-- iconos -->
        <div class="container d-flex  justify-content-around">

        <i class="ico-html h2 fa-brands fa-html5"></i>
            
        <i class="ico-css3 h2 fa-brands fa-css3-alt "></i>
        
        <i class="ico-js h2 fa-brands fa-js"></i>
      
        <i class="ico-ang h2 fa-brands fa-angular"></i>
      </div>
    
    <!-- fin iconos -->
    
    <!-- circulos -->
  
        <div class="container d-flex justify-content-around">

        <div class="circulo-one">
        <div id="valor-one" class="valor-one">0%</div>
      </div>
          
            <div class="circulo-two">
          <div id="valor-two" class="valor-two">0%</div>
        </div>
                     
            <div class="circulo-three">
            <div id="valor-three" class="valor-three">0%</div>
          </div>
  
              <div class="circulo-four">
              <div id="valor-four" class="valor-four">0%</div>
            </div>

        </div>
      </div>
      <!--========Fin de Hard Skills====== -->
      
        <!-- A partir de aca crear soft skills -->

       
            
            <h3 class="h3-acercaDe pt-4 ps-4 display-6 text-left  mb-4">Soft Skills</h3>
            
            <div class="skills">
              
              <!-- softskills -->
              
              <div class="container d-flex flex-column">

                <H4 class="h3-acercaDe  text-center">Trabajo en equipo</H4>
                <i class="ico-hands fa-solid fa-handshake"></i>
                <p class="p-acercaDe row-2">Dispongo de gran capacidad para trabajar en equipos, y no tengo dificultad para adaptarme a equipos de personas que llevan tiempo trabajando en conjunto, creo que la comunicación es fundamental para llevar a cabo cualquier trabajo de manera satisfactoria. Poseo conocimiento del empleo de metodologias ágiles,como por ejemplo SCRUM.</p>
          
                <H4 class="h3-acercaDe  text-center">Capacidad de resolver problemas</H4>
                <i class="ico-idea fa-solid fa-lightbulb"></i>
                  <p class="p-acercaDe  row-2">Me considero capaz de resolver problemas de todo tipo.
                En el desarrollo (y en la vida personal) es importante pensar primero cual es el problema y luego cual sería la manera lógica más adecuada para resolverlo, esto reduce la posibilidad de que cometamos errores a la hora de aplicar soluciones. Creo que esta habilidad, es importante dentro y fuera del ámbito laboral.</p>
             
                <H4 class="h3-acercaDe  text-center">Comunicación</H4>
                <i class="ico-comunicacion fa-solid fa-comment-dots"></i>
                <p class="p-acercaDe row-2">En cuanto a la comunicación, busco ser asertivo, es decir, trato de dar mensajes precisos y cortos, y como siempre, manteniendo en todo momento el respeto y la sinceridad.
                  También es importante decir que no creo que mis propuestas sean las únicas válidas, aprendí que en la diversidad de pensamiento se pueden encontrar diferentes soluciones para los mismos problemas.
                </p>
                
                <H4 class="h3-acercaDe  text-center">Adaptabilidad</H4>
              <i class="ico-estudio fa-solid fa-graduation-cap"></i>
              <p class="p-acercaDe  row-2">El mantenerme en constante aprendizaje de las nuevas tecnologías o cambios, no supone un problema para mí, el reto de aprender algo nuevo siempre ha sido un inyector de energía en los proyectos que estoy llevando a cabo. Sé aprender de forma autodidácta, y es algo que disfruto hacer. 
              </p>
            </div>


          </div>
        </div>
            

      
          
          <!-- fin softskills -->